* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root {
	--rojo: #ba181b;
	--azul: #00b4d8;
	--azul-hover: #48cae4;
	--rojo-hover: #e5383b;
	--verde: #09a129;
}

body {
	font-family: Poppins;


	justify-content: center;





}

/* INICIO */
.inicio-titulo {
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

.inicio-titulo h1 {
	font-size: 50px;

}

.inicio-titulo p {
	margin-top: 20px;
	color: darkslategrey;

}

.inicio-titulo h2 {
	margin-top: 20px;
	font-size: 30px;
	color: #36486b;
}

.inicio-titulo ol li {
	margin-top: 20px;
	color: #618685;
}

/* Menu de navegacio */


.nav-cont {
	display: flex;
	width: 100%;

}

.nav-list {
	display: flex;
	list-style: none;
}

.task-list {
	width: 100%;
}

.task-list h1 {
	font-size: 40px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.card-to-do {
	margin-top: 30px;
	background-color: #618685;

	padding: 25px;
	border-radius: 20px;
	width: 1000px;
}

h1 {
	color: #4040a1;
	text-align: center;
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
	font-weight: 500;
}

.counter-todos span {
	color: #36486b;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 20px;
	width: 100%;
	background-color: cadetblue;
	color: white;

	padding: 10px;
	justify-content: space-around;
	list-style: none;
	border-radius: 10px;
}

ul li {
	margin-top: 10px;
	list-style: none;
	display: flex;

	justify-content: space-between;
	align-items: center;
	padding: 0;
	color: white;



}

ul li a {
	text-decoration: none;
	list-style: none;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.input-update {
	padding: 13px;
	border-radius: 20px;
	font-weight: 500;
	font-family: inherit;
	font-size: 18px;
	color: #555;
	width: 100%;
	margin-left: 13px;
	/* background-color: #000; */
	outline: none;
}

.container-done {
	background-color: white;
	width: 24px;
	height: 24px;
	border-radius: 20px;
	border: 2px solid var(--verde);
	cursor: pointer;
}

.container-done.active {
	background-color: var(--verde);
}

.text-decoration-dashed {
	text-decoration: line-through;
}

.btn-delete {
	background-color: var(--rojo);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-delete:hover {
	background-color: var(--rojo-hover);
}

.btn-edit {
	background-color: var(--azul);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	transition: all 0.3s;
	cursor: pointer;
	font-family: inherit;
}

.btn-edit:hover {
	background-color: var(--azul-hover);
}

form {
	display: flex;
	gap: 20px;
}

.add-todo h3 {
	color: #4040a1;
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}

.input-add {
	border: none;
	outline: none;
	padding: 10px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	flex: 1;
	font-family: inherit;
	font-size: 17px;
	color: #555;
}

.btn-add {
	border: none;
	background-color: var(--azul);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
}

.btn-add:hover {
	background-color: var(--azul-hover);
}

#validar {
	color: #ba181b;
}